
<div class="container">
    <%# @farms.each_slice(3) do |farms| %>
    <div class="Grid Grid--gutters Grid--full large-Grid--fit u-textCenter">
        <% @farms.each do |farm| %>
        <%#card1 %>
        <div class="Grid-cell">
            <div class="cards">
                <%= link_to farm do %>
                <%#card2 %>

                <p>
                    <%= link_to farm.address.downcase.gsub(/(\A|\s)\w/){ |letter| letter.upcase }, farm, :class => "address" %><br>
                    <%= link_to farm.city.downcase.gsub(/(\A|\s)\w/){ |letter| letter.upcase }, farm, :class => "address" %>
                </p>
                <p>
                    <%= link_to farm.name.downcase.gsub(/(\A|\s)\w/){ |letter| letter.upcase }, farm, :class=> "title" %>
                </p>
                <p>
                    <%# farm.hours.downcase.gsub(/(\A|\s)\w/){ |letter| letter.upcase } %>
                </p>
                <p>
                    <%= truncate(farm.content, :length => 70) %>
                </p>
                <p class="burglink">
                    <%= farm.genre %>
                </p>
                <%= link_to "View More", farm, class: 'btn' %>
                <br>
                <br>
                <% end %>
                <%#card2 %>
            </div>

        </div>
        <% end %>
        <%#card1 %>

        <%# end %>

        <div class="Grid-cell">
            <div class="Grid-cell-last">
                <div class="cards-last">
                    <h1>Love to have you!</h1>
                    <p>Are you a local, organic farm that supplies the communtity? You should be on this list.</p>
                    <p class="button-con"><%= link_to 'Get on the list', new_contact_path, class: 'botton' %></p>
                </div>
            </div>
        </div>
    </div>
</div>
