<p id="notice"><%= notice %></p>
<div class="container-store">
  <p>
    <strong>Name:</strong>
    <%= @farm.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @farm.address %>
  </p>

  <p>
    <strong>Hours:</strong>
    <%= @farm.hours %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= @farm.genre %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @farm.content %>
  </p>

  <%= image_tag @farm.image.url(:medium), class: "img-size" %>
  <br>

  <%= link_to 'Edit', edit_farm_path(@farm) %> |
  <%= link_to 'Back', farms_path %>
</div>
