
<div class="container-store">
  <%= link_to 'Return to Farm List', farms_path, class: 'btn' %>
  <br>
  <br>
  <h1>
    <%= @farm.name.downcase.gsub(/(\A|\s)\w/){ |letter| letter.upcase } %>
  </h1>

  <p>
    <%= @farm.address.downcase.gsub(/(\A|\s)\w/){ |letter| letter.upcase } %>
<br>
    <%= @farm.city %>
<br>
    <%= @farm.hours.downcase.gsub(/(\A|\s)\w/){ |letter| letter.upcase } %>
  </p>

  <p>
    <%= @farm.genre %>
  </p>

  <h2>Our Story</h2>
  <p>
    <%= @farm.content %>
  </p>

  <%= image_tag @farm.image.url(:medium), class: "img-size" %>
  <br>

  <% if user_signed_in? %>
  <br>
    <%= link_to 'Edit', edit_farm_path(@farm), class: 'btn' %> | <%= link_to 'Delete', farm_path(@farm), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn' %>
  <% end %>
  <br>
  <br>
  <%= link_to 'Return to Farm List', farms_path, class: 'btn' %>

  <br>
  <br>
  <br>
</div>
