<p id="notice"><%= notice %></p>
<div class="container-store">
  <%= link_to 'Back', farms_path %>
  <h2>
    <%= @farm.name.downcase.gsub(/(\A|\s)\w/){ |letter| letter.upcase } %>
  </h2>

  <p>
    <%= @farm.address.downcase.gsub(/(\A|\s)\w/){ |letter| letter.upcase } %>
<br>
    <%= @farm.city %>
<br>
    <%= @farm.hours.downcase.gsub(/(\A|\s)\w/){ |letter| letter.upcase } %>
  </p>

  <p>
    <%= @farm.genre %>
  </p>

  <h2>Our Story</h2>
  <p>
    <%= @farm.content %>
  </p>

  <%= image_tag @farm.image.url(:medium), class: "img-size" %>
  <br>

  <%= link_to 'Edit', edit_farm_path(@farm) %> |
  <%= link_to 'Back', farms_path %> |
  <%= link_to 'Delete', farm_path(@farm), method: :delete, data: { confirm: 'Are you sure?'} %>
  <br>
  <br>
  <br>
</div>
