<div class="container">
  <h1>Say Hello</h1>
  <br>
  <%= form_for @contact do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>

    <br><br>

    <%= f.label :email %>
    <%= f.text_field :email, required: true %>

    <br><br>

    <%= f.file_field :image %>

    <br><br>

    <%= f.label :message %>
    <%= f.text_area :message, as: :text %>

    <div class="hidden">
      <%= f.label :nickname %>
      <%= f.text_field :nickname, hint: 'leave this field blank' %>
    </div>

    <br>

    <%= f.submit 'Send Message', class: "btn" %>
  <% end %>
</div>
